// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.banner {
    margin: 0 auto;
    &.standard {
        position: relative;
        padding: 5rem 0;
        @include mobile {
            padding: 0 0 3rem;
        }
        .banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: -1;
            @include mobile {
                // position: relative;
                position: static;
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        h1 {
            @include heading(1);
            color: $darkbrown;
        }
        p {
            color: $black;
            margin-top: 0;
            font-size: 1.125rem;
            line-height: 1.2;
            @include mobile {
                font-size: 1rem;
            }
        }
    }
}