// Utility Variables
@import "../atoms/colors";

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $green;
    margin: 0 auto;
    padding: 1.25rem 0;
    .site-info {
        color: $white;        
        a {
            color: $white;
        }
    }
}