// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.site-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid $gray;
    background-color: $white;
    margin: 0 auto;
    padding: 1.25rem 0;
    .site-info {
        color: $gray;        
        a {
            color: $gray;
        }
    }
}