// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.site-header {
    background: $teal;
    border-bottom: 5px solid $lime;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin: 0 auto;
    padding: 1% 2%;
    position: relative;
    z-index: 1000;
    &.sticky {
        position: fixed;
        top: 0;
        width: 100%;
        padding: 0.5% 2%;
    }
    &.sticky + .site-main {
        padding-top: 5%;
    }
    .site-branding {
        margin-right: auto;
        .custom-logo-link {
            display: inline-flex;
            max-width: 420px;
                img {
                max-width: 100%;
                width: 100%;
                height: auto;
            }
        }
    }
    .main-navigation {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        .menu-toggle {
            display: none;
            @include tablet {
                display: block;
            }
        }
        .menu-main-navigation-container {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .menu {
                display: inline-flex;
                justify-content: space-between;
                list-style-type: none;
                margin: 0 auto;
                padding: 0;
                @include tablet {
                    display: none;
                    position: absolute;
                    top: 70px;
                    bottom: 0;
                    right: 0;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    background: $white;
                    width: 80vw;
                    height: 100vh;
                    z-index: 1001;
                    transition: all .2s ease-in;
                }
                li {
                    padding: 0 2rem;
                    a {
                        display: inline-block;
                        position: relative;
                        color: $white;
                        font-weight: 700;
                        font-size: 1.125rem;
                        letter-spacing: 1.25px;
                        margin: 0;
                        padding: 0;
                        text-decoration: none;
                        text-transform: uppercase;
                        transition-property: color,background-color,border-color;
                        transition-duration: .2s;
                        transition-timing-function: linear;
                        @include tablet {
                            color: $teal;
                        }
                        &:after {
                            content: " ";
                            position: absolute;
                            top: calc(50% + 1.15rem);
                            left: 0;
                            width: 100%;
                            border-top-style: solid;
                            transform: scaleX(0);
                            transition: transform .2s ease-in-out;
                        }
                        &:hover:after {
                            transform: scaleX(1);
                        }
                        &:hover {
                            color: $lime;
                        }
                        &.active {
                            color: $lime;
                        }
                    }
                }
            }
        }
    }
}