// Utility Variables
@import "../atoms/variables";
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";
@import "../atoms/animations";

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .logo-link {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        img {
            max-width: 8rem;
        }
    }
    &.teal {
        background-color: $lime;
        .banner-overlay {
            background: $gradient-teal-transparent;
        }
    }
    &.blue {
        background-color: $radial-teal-blue;
        .banner-overlay {
            background: $gradient-blue-transparent;
        }
    }
    &.lime {
        background-color: $lime;
        .banner-overlay {
            background: $gradient-lime-transparent;
        }
    }
    &.green {
        background-color: $blue;
        .banner-overlay {
            background: $gradient-green-transparent;
        }
    }
    &.darkbrown {
        background: $radial-darkbrown-darkgreen;
        .banner-overlay {
            background: $gradient-darkbrown-transparent;
        }
    }
    &.darkgreen {
        background-color: $darkgreen;
        .banner-overlay {
            background: $gradient-darkgreen-transparent;
        }
    }
    &.all {
        background-color: $gradient-all;
        .banner-overlay {
            background: $gradient-hero;
        }
    }
    &.standard {
        position: relative;
        padding: 5rem 0;
        margin-bottom: 5rem;
        // min-height: 30rem;
        @include mobile {
            padding: 0 0 3rem;
        }
        .banner-overlay {
            // background-image: $gradient-hero;
            // background: #eb01a5;
            // background-image: url("IMAGE_URL"); /* fallback */
            // background-image: url("IMAGE_URL"), linear-gradient(#eb01a5, #d13531); /* W3C */
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            @include mobile {
                // position: relative;
                // position: static;
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        .banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: -1;
            @include mobile {
                // position: relative;
                position: static;
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 1rem;
            width: 100%;
            h1 {
                @include heading(1);
                color: $white;
                @include tablet {
                    color: $darkgreen;
                }
            }
            p {
                color: $white;
                margin-top: 0;
                @include tablet {
                    font-size: 1.125rem;
                    line-height: 1.2;
                    color: $darkgreen;
                }
                @include mobile {
                    font-size: 1rem;
                }
            }
        }

    }
    &.standard {
        position: relative;
        padding: 5rem 0;
        margin-bottom: 5rem;
        min-height: 22rem;
        @include mobile {
            padding: 0 0 3rem;
        }
        .banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            @include mobile {
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        .banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: -1;
            @include mobile {
                // position: relative;
                position: static;
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 1rem;
            width: 100%;
            h1 {
                @include heading(1);
                color: $white;
                @include tablet {
                    color: $darkgreen;
                }
            }
            p {
                color: $white;
                margin-top: 0;
                @include tablet {
                    font-size: 1.125rem;
                    line-height: 1.2;
                    color: $darkgreen;
                }
                @include mobile {
                    font-size: 1rem;
                }
            }
        }

    }
    /*
    &.solid {
        &.darkgreen {
            background-color: $darkgreen;
        }
        &.darkbrown {
            background-color: $darkbrown;
        }
        &.lime {
            background-color: $lime;
        }
        &.teal {
            background-color: $teal;
        }
        &.blue {
            background-color: $blue;
        }
        &.green {
            background-color: $green;
        }
    }
    */
    &.wave {
        position: relative;
        background-color: $teal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8rem 0 4rem;
        margin-bottom: 10rem;
        .title {
            color: $white;
        }
        .sub-title {
            @include heading(4);
            color: $white;
        }
        .wave-divider {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: translateY(100%);
            z-index: -1;
            @include tablet {
                width: 150%;
            }
            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 10rem;
                transform: rotate(0deg);
                .shape-fill {
                    fill: $green;
                }
            }
            &.accent {
                transform: rotate(180deg) translate(0%, 0%);
                z-index: 0;
                svg {
                    .shape-fill {
                        fill: $green;
                    }
                }
            }
        }
        &.blue {
            .wave-divider {
                svg {
                    .shape-fill {
                        fill: $blue;
                    }
                }
                &.accent {
                    svg {
                        .shape-fill {
                            fill: $radial-lime-green;
                        }
                    }
                }
            }
        }
        &.teal-blue {
            .wave-divider {
                svg {
                    .shape-fill {
                        fill: $blue;
                    }
                }
                &.accent {
                    svg {
                        .shape-fill {
                            fill: $green;
                        }
                    }
                }
            }
        }
        &.lime-green {
            .wave-divider {
                svg {
                    fill: $darkbrown;
                    &.accent {
                        fill: $darkgreen;
                    }
                }
            }
        }
        &.darkgreen {
            .wave-divider {
                svg {
                    fill: $darkbrown;
                    &.accent {
                        fill: $lime;
                    }
                }
            }
        }
    }
}

