// Utility Variables
@import "../atoms/variables";
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";
@import "../atoms/animations";

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 0;
    margin: 0 auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    .logo-link {
        position: absolute;
        top: 2rem;
        left: 2rem;
        z-index: 1;
        img {
            max-width: 8rem;
        }
    }
    &.standard {
        position: relative;
        padding: 5rem 0 0;
        background-position: left;
        min-height: 22rem;
        // z-index: -1;
        @include tablet {
            padding: 3rem 0 0;
            justify-content: flex-end;
        }
        @include mobile {
            padding: 0 0 1.5rem;
            min-height: 16rem;
            // background-size: cover;
            background-position: center;
        }
        .banner-overlay {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            @include mobile {
                width: 100%;
                // height: 16rem;
                // margin-bottom: 2rem;
            }
        }
        .banner-image {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: -1;
            @include mobile {
                position: static;
                width: 100%;
                height: 16rem;
                margin-bottom: 2rem;
            }
        }
        .image-overlay {
            display: none;
            // position: absolute;
            // bottom: -50%;
            // right: 5%;
            // border-radius: 50%;
            // background-position: center;
            // background-repeat: no-repeat;
            // background-size: cover;
            // height: 25rem;
            // width: 25rem;
            // z-index: 1;
            // @include tablet {
            //     bottom: -35%;
            //     height: 15rem;
            //     width: 15rem;
            // }
            // @include mobile {
            //     bottom: -25%;
            //     height: 8rem;
            //     width: 8rem;
            // }
        }
        .content-wrapper {
            display: flex;
            flex-direction: column;
            position: relative;
            padding: 6rem 0 3rem;            
            width: 100%;
            @include tablet {
                padding: 9rem 0 2rem;
            }
            @include mobile {
                padding: 12rem 0 1rem;
            }
            h1 {
                color: $white;
            }
            p {
                color: $white;
                margin-top: 0;
                // @include tablet {
                //     margin: 0;
                // }
            }
        }
        &.teal {
            background-color: $lime;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-teal-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $green;
            }
            &.image {
                border-bottom: 0.75rem solid $green;
            }
        }
        &.blue {
            background-color: $radial-teal-blue;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-blue-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $teal;
            }
            // .content-wrapper {
            //     * {
            //         color: $darkgreen;
            //     }
            // }
            &.image {
                border-bottom: 0.75rem solid $teal;
            }
        }
        &.lime {
            background: $radial-lime-green;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-lime-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $darkgreen;
            }
            &.image {
                border-bottom: 0.75rem solid $darkgreen;
            }
        }
        &.green {
            background-color: $blue;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-green-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $darkgreen;
            }
            &.image {
                border-bottom: 0.75rem solid $darkgreen;
            }
        }
        &.darkbrown {
            // background: $radial-darkbrown-darkgreen;
            background: $radial-brown-blue;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-darkbrown-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $blue;
            }
            &.image {
                border-bottom: 0.75rem solid $blue;
            }
        }
        &.darkgreen {
            background-color: $darkgreen;
            // background-size: cover;
            // background-position: left;
            .banner-overlay {
                background: $gradient-darkgreen-transparent;
            }
            .image-overlay {
                border: 0.5rem solid $lime;
            }
            &.image {
                border-bottom: 0.75rem solid $lime;
            }
        }
    }
    &.contact.teal {
        padding-bottom: 5rem;
        @include tablet {
            padding-bottom: 0;
        }
        .banner-overlay {
            @include tablet {
                // background: linear-gradient(to bottom, $white, rgba(21, 137, 144, 0.5));
                background: linear-gradient(to top, #FFFFFF, rgba(21, 137, 144, 0.5), #158990);
            }
        }
        .content-wrapper {
            // @include tablet {
            //     margin: 12rem 0 0;
            // }
            .form-wrapper {
                margin-top: 1rem;
                form {
                    @include tablet {
                        background-color: $blue;
                        // background: linear-gradient(to top, $blue-100, $lime-100);
                    }
                }
            }
        }
       
    }
    &.image {
        @include mobile {
            padding: 0 0 4rem;
        }
        .image-overlay {
            display: block;
            position: absolute;
            bottom: -50%;
            right: 5%;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 25rem;
            width: 25rem;
            z-index: 1;
            @include tablet {
                bottom: -35%;
                height: 15rem;
                width: 15rem;
            }
            @include mobile {
                bottom: -15%;
                height: 8rem;
                width: 8rem;
            }
        }
        .content-wrapper {
            padding-bottom: 0;
        }
    }    
    &.wave {
        position: relative;
        background-color: $teal;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 8rem 0 4rem;
        z-index: 0;
        @include tablet {
            padding: 6rem 0 4rem;
        }
        .content-wrapper {
            padding: 3rem 0 6rem;
            @include tablet {
                padding: 0 0 6rem;
            }
        }
        .title {
            color: $white;
        }
        .sub-title {
            @include heading(4);
            color: $white;
        }
        .wave-divider {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            line-height: 0;
            transform: translateY(100%);
            z-index: -1;
            @include tablet {
                width: 150%;
            }
            svg {
                position: relative;
                display: block;
                width: calc(100% + 1.3px);
                height: 10rem;
                transform: rotate(0deg);
                .shape-fill {
                    fill: $green;
                }
            }
            &.accent {
                transform: rotate(180deg) translate(0%, 0%) scaleX(-1);
                z-index: 0;
                svg {
                    .shape-fill {
                        fill: $green;
                    }
                }
            }
        }
        &.blue,
        &.green,
        &.darkbrown,
        &.darkgreen,
        &.lime,
        &.teal {
            .wave-divider {
                display: none;
                &.accent {
                    display: block;
                    svg {
                        .shape-fill {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

