// Utility Variables
@import "../atoms/colors";
@import "../atoms/mixins";

.calloutbar {
    &.standard {
        display: flex;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0;
        @include tablet {
            flex-direction: column;
        }
        img {
            max-width: 50%;
            width: 100%;
            height: auto;
            padding: 2rem;
            @include tablet {
                max-width: 100%;
                padding: 1rem;
                // order: 2;
            }
        }
        .content-wrapper {
            width: 100%;
            background: $blue;
            padding: 3rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            * {
                color: $white;
            }
            .btn {
                background-color: $teal;
                margin-top: 1.5rem;
            }
        }
        &.teal {
            .content-wrapper {
                background: $teal;
                .btn {
                    color: $darkgreen;
                    background: $lime;
                }
            }
        }
        &.darkgreen {
            .content-wrapper {
                background: $darkgreen;
                * {
                    color: $lightbrown;
                }
                .btn {
                    color: $lightbrown-25;
                    background: $darkbrown;
                }
            }
        }
    }
    &.image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        padding: 10rem 0 5rem;
        position: relative;
        text-align: center; 
        margin-bottom: 0;
        .content-wrapper {
            z-index: 1;
            .content {
                //TODO style me
            }
        }
        &:after {
            background: linear-gradient(0deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .8),rgba(255, 255, 255, 1));
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
        }
    }
    &.gradient {
        // margin: 0 auto;
        padding: 5rem 0;
        background: linear-gradient(to right, $teal, $blue) !important;
        .content * {
            color: $white;
        }
        .cta {
            margin-top: 1rem;
        }
    }
}