$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1340px 
);

/* 
 * Bootstrap includes six default breakpoints, sometimes referred to as grid tiers, for building responsively. 
 * These breakpoints can be customized if you’re using our source Sass files.
 */
$grid-breakpoints: (
    xs: 0, // <576px
    sm: 576px, // ≥576px
    md: 768px, // ≥768px
    lg: 992px, // ≥992px
    xl: 1200px, // ≥1200px
    xxl: 1400px // ≥1400px
);

/* Partials */
// @import 'fonts';
@import 'mixins';
@import 'helpers';
@import 'typography';

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns: 12;
$grid-gutter-width: 2rem;
$enable-grid-classes: true;

/* 
 * Designed at 16px to 1rem 
 * Do not set PX value when using REM - use system default for user 
 */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-top: 0;
    font-family: $font-copy, "Helvetica Neue", Helvetica, Arial, -apple-system,BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    @include tablet {
        padding-top: 0;
    }
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    &.modal-open {
        height: 100vh;
        overflow-y: hidden;
        // padding-right: 15px;
        // @include respond-below(md) {
        //     position: fixed;
        // }
    }
}

#page {
    overflow: hidden;
}

#primary {
    padding-top: 2.5rem;
    &.homepage,
    &.programs {
        padding: 0;
    }
    &.light {
        background-color: $blue-25;
    }
    &.dark {
        background-color: $darkgreen;
    }
}

.load * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

section,
.section {
    display: block;
    padding: 3rem 0;
    &.gray {
        background-color: $gray;
    }
    &.white {
        background-color: $white;
    }
    // &.lime {
    //     color: $white;
    //     background-color: $lime-25;
    // }
    // &.blue {
    //     color: $white;
    //     background-color: $blue-25;
    // }
    // &.green {
    //     color: $white;
    //     background-color: $green-25;
    // }
}

.container {
    @include mobile {
        padding-right: 2rem;
        padding-left: 2rem;
        .container {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}