$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1340px 
);

/* 
 * Bootstrap includes six default breakpoints, sometimes referred to as grid tiers, for building responsively. 
 * These breakpoints can be customized if you’re using our source Sass files.
 */
$grid-breakpoints: (
    xs: 0, // <576px
    sm: 576px, // ≥576px
    md: 768px, // ≥768px
    lg: 992px, // ≥992px
    xl: 1200px, // ≥1200px
    xxl: 1400px // ≥1400px
);

/* Partials */
@import 'fonts';
@import 'mixins';
@import 'helpers';
@import 'typography';

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);
@include _assert-ascending($container-max-widths, "$container-max-widths");

$grid-columns:                12;
$grid-gutter-width:           30px;
$enable-grid-classes:       true;


* {
    box-sizing: border-box;
    font-size: 16px; // rem size equivalent to 1rem to 16px
    font-family: $font-copy;
    @include mobile {
        font-size: 14px;
    }
}

body {
    padding-top: 0;
    @include tablet {
        padding-top: 0;
    }
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.container {
    @include mobile {
        padding-right: 30px;
        padding-left: 30px;
        .container {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}