// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

button,
.btn {
    font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1.125rem;
    line-height: 1;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .2s;
    border: 0;
    letter-spacing: 1.2px;
    min-width: 10rem;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 1rem 0.875rem 1.125rem;
    color: $white;
    background-color: $teal;
    border-radius: 0.25rem;
    &:hover {
        background-color: $green;
        filter: brightness(0.9);
    }
    &:active {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
    &:focus {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
    &:visited {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
}

.btn-primary {
    color: $white;
    background-color: $darkgreen;
    &:hover{
        background-color: $darkbrown;
    }
    &.teal {
        // color: $white;
        background-color: $teal;
        // &:hover{
        //     background-color: $green;
        // }
        &.reversed {
            color: $teal;
            background-color: $white;
            // &:hover{
            //     background-color: $gray;
            // }
        }
    }
    &.green {
        // color: $white;
        background-color: $green;
        // &:hover{
        //     background-color: $teal;
        // }
    }
    &.blue {
        // color: $white;
        background-color: $blue;
        // &:hover{
        //     background-color: $teal;
        // }
    }
    &.darkbrown {
        // color: $white;
        background-color: $darkbrown;
        // &:hover{
        //     background-color: $darkgreen;
        // }
    }
    &.lightbrown {
        // color: $white;
        background-color: $lightbrown;
        // &:hover{
        //     background-color: $lime;
        // }
    }
    &.reversed {
        color: $teal;
        background-color: $white;
        &:hover {
            color: $green;
            // background-color: $blue-25;
            // filter: brightness(.9);
        }
    }
}

// TODO - add arrow for external links
.btn-link {
    color: $white;
    background-color: $teal;
    &:hover{
        filter: brightness(1.1);
    }
    &.reversed {
        color: $teal;
        background-color: $white;
        &:hover{
            filter: brightness(.9);
        }
    }
}

.link {
    position: relative;
    color: $teal;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
    border-bottom: 2px solid transparent;
    transition-property: background-color,border-color,color,box-shadow,filter;
    &:hover{
        color: $darkgreen;
        border-bottom: 2px solid $darkgreen;
        // filter: brightness(1.1);
    }
    &.reversed {
        color: $white;
        &:hover{
            color: $blue-25 !important;
            border-bottom: 2px solid $blue-25 !important;
            // filter: none !important;
        }
    }
    &.lime {
        color: $lime !important;
        border-color: $lime !important;
        &:hover{
            color: $green !important;
            border-color: $green !important;
            // filter: none !important;
        }
    }
    &.blue {
        color: $blue !important;
        border-color: $blue !important;
        &:hover{
            color: $teal !important;
            border-color: $teal !important;
            // filter: none !important;
        }
    }
    &.green {
        color: $green !important;
        border-color: $green !important;
        &:hover{
            color: $darkgreen !important;
            border-color: $darkgreen !important;
            // filter: none !important;
        }
    }
}

