// Utility Variables
@import "../atoms/colors";
@import "../atoms/mixins";

button,
input[type="submit"].ninja-forms-field,
.btn {
    font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 1.125rem;
    line-height: 1;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: 0.2s;
    border: 0;
    letter-spacing: 1.2px;
    min-width: 10rem;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 1rem 0.875rem 1.125rem;
    color: $white;
    background-color: $teal;
    border-radius: 0.25rem;
    &:hover {
        background-color: $teal;
        filter: brightness(0.9);
    }
    &:active {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
    &:focus {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
    &:visited {
        color: $white;
        background-color: $blue;
        border-color: $blue;
        box-shadow: inherit;
    }
}

.btn-primary {
    color: $white;
    background-color: $darkgreen;
    &.teal {
        background-color: $teal;
    }
    &.green {
        background-color: $green;
    }
    &.blue {
        // color: $darkgreen;
        background-color: $blue;
    }
    &.blue-25 {
        color: $teal;
        background-color: $blue-25;
    }
    &.lime {
        color: $darkgreen;
        background-color: $lime;
        &:hover {
            filter: brightness(1.1);
        }
    }
    &.darkbrown {
        background-color: $darkbrown;
    }
    &.lightbrown {
        background-color: $lightbrown;
    }
    &.reversed {
        color: $teal;
        background-color: $white;
        &:hover {
            color: $darkgreen;
            filter: brightness(1);
        }
    }
}

.btn-wide {
    padding: 1rem 2.5rem 1.125rem;
}

// TODO - add arrow for external links
.btn-link {
    color: $white;
    background-color: $teal;
    &:hover {
        filter: brightness(1.1);
    }
    &.reversed {
        color: $teal;
        background-color: $white;
        &:hover {
            filter: brightness(0.9);
        }
    }
}

.link {
    position: relative;
    color: $teal;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
    border-bottom: 2px solid transparent;
    transition-property: background-color, border-color, color, box-shadow, filter;
    &:hover {
        color: $darkgreen;
        border-bottom: 2px solid $darkgreen;
        // filter: brightness(1.1);
    }
    &.reversed {
        color: $white;
        &:hover {
            color: $blue-25 !important;
            border-bottom: 2px solid $blue-25 !important;
            // filter: none !important;
        }
    }
    &.lime {
        color: $lime !important;
        border-color: $lime !important;
        &:hover {
            color: $green !important;
            border-color: $green !important;
            // filter: none !important;
        }
    }
    &.blue {
        color: $blue !important;
        border-color: $blue !important;
        &:hover {
            color: $teal !important;
            border-color: $teal !important;
            // filter: none !important;
        }
    }
    &.green {
        color: $green !important;
        border-color: $green !important;
        &:hover {
            color: $darkgreen !important;
            border-color: $darkgreen !important;
            // filter: none !important;
        }
    }
}
