// Utility Variables
@import "../atoms/colors";

.btn {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: $white;
    background-color: $gray;
    height: 48px;
    &:hover{
        background-color: $gray;
        opacity: 0.75;
    }
}

.btn-primary {
    color: $white;
    background-color: $lime;
    &:hover{
        background-color: $lime;
    }
}

.btn-secondary {
    color: $white;
    background-color: $blue;
    &:hover{
        background-color: $blue;
    }
}

.btn-green {
    color: $white;
    background-color: $green;
    &:hover{
        background-color: $green;
    }
}