/* Primary Brand Colors */
$blue: #46bfca; // DNU old color #69bdc8
$green: #3c8c66; // DNU old color #54886a
$lime: #80c34f;
$teal: #158990;

/* Secondary Brand Colors */
$darkbrown: #775547;
$lightbrown: #c88469;
$darkgreen: #284232;

/* Utility Colors */
$white: #FFFFFF;
$gray: #777777;
$darkgray: #121212;
$black: #000000;