/* Primary Brand Colors */
$blue: #46bfca; // DNU old color #69bdc8
$green: #3c8c66; // DNU old color #54886a
$lime: #80c34f;
$teal: #158990;

/* Secondary Brand Colors */
$darkbrown: #775547;
$lightbrown: #c88469;
$darkgreen: #284232;

/* Utility Colors */
$white: #FFFFFF;
$gray: #777777;
$darkgray: #121212;
$black: #000000;

/* HERO BANNER BACKGROUND GRADIENTS */
$gradient-teal: linear-gradient(to bottom, $teal, transparent); // 155deg increase transparency using RGBA
$gradient-lime: linear-gradient(to bottom, $lime, transparent);
$gradient-darkgreen: linear-gradient(to bottom, $darkgreen, transparent);
$gradient-darkbrown: linear-gradient(to bottom, $darkbrown, transparent);