$font-heading: "BebasNeue";
$font-copy: "Avenir";
// $font-avenir-light: "Avenir Light";
// $font-avenir-med: "Avenir Med";
// $font-avenir-bold: "Avenir Bold";

/* BebasNeue */
@font-face {
    font-family: "BebasNeue";
    src: url("/fonts/BebasNeueBold.eot"), // IE9
        url("/fonts/BebasNeueBold.eot?#iefix") format("embedded-opentype"), 
        url("/fonts/BebasNeueBold.woff2") format("woff2"), 
        url("/fonts/BebasNeueBold.woff") format("woff"), 
        url("/fonts/BebasNeueBold.ttf") format("truetype"), 
        url("/fonts/BebasNeueBold.svg#BebasNeueBold") format("svg");
}
/* Avenir */
@font-face {
    font-family: "Avenir";
    src: url("/fonts/Avenir Next LT W02 Regular.eot"), // IE9
        url("/fonts/Avenir Next LT W02 Regular.eot?#iefix") format("embedded-opentype"), 
        url("/fonts/Avenir Next LT W02 Regular.woff2") format("woff2"), 
        url("/fonts/Avenir Next LT W02 Regular.woff") format("woff"), 
        url("/fonts/Avenir Next LT W02 Regular.ttf") format("truetype"), 
        url("/fonts/Avenir Next LT W02 Regular.svg#Avenir Next LT W02 Regular") format("svg");
}

/* DNU - Avenir Light 
@font-face {
    font-family: "Avenir Light";
    src: url("/fonts/Avenir Next LT W02 Regular.eot"), // IE9
        url("/fonts/Avenir Next LT W02 Regular.eot?#iefix") format("embedded-opentype"), 
        url("/fonts/Avenir Next LT W02 Regular.woff2") format("woff2"), 
        url("/fonts/Avenir Next LT W02 Regular.woff") format("woff"), 
        url("/fonts/Avenir Next LT W02 Regular.ttf") format("truetype"), 
        url("/fonts/Avenir Next LT W02 Regular.svg#Avenir Next LT W02 Regular") format("svg");
}
*/