.margin-right-40 {
    margin-right: 2.5rem;
}
.margin-top-40 {
    margin-top: 2.5rem;
}
.padding-bottom-20 {
    padding-bottom: 1.25rem;
}
.padding-top-20 {
    padding-top: 1.25rem;
}
.padding-0 {
    padding: 0;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
  }