.margin-right-40 {
    margin-right: 2.5rem;
}
.margin-top-40 {
    margin-top: 2.5rem;
}
.padding-bottom-20 {
    padding-bottom: 1.25rem;
}
.padding-top-20 {
    padding-top: 1.25rem;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}