// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

a {
    color: $teal-100;
    font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 700;
    transition: color .3s ease-in-out;
}
a:hover,
a:focus,
a:active {
    color: $teal-75;
}
a.link,
a.link:hover,
a.link:focus,
a.link:active  {
    text-transform: uppercase;
    text-decoration: none;
}

a.btn-download {
    @include heading(5);
    color: $darkgreen;
    display: inline-flex;
    position: relative;
    align-items: center;
    border-top: 2px solid $darkgreen;
    border-bottom: 2px solid $darkgreen;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease-in-out;
    @include respond-below(md){
        padding: 0.75rem 0.5rem;
        margin: 1.5rem auto;
    }
    &:hover {
        filter: brightness(1);
        color: $teal;
        border-color: $teal;
        svg {
            fill: $teal;
        }
    }
    img,
    svg {
        fill: $darkgreen;
        height: 3rem;
        width: auto;
        line-height: 1;
        margin-right: 1rem;
        transition: all .3s ease-in-out;
    }
}