:root {
    --color: $darkbrown;
    --hover-brightness: 1.1;
}
a {
    color: var(--color);
}
a:hover,
a:focus,
a:active {
    /* Darken on click/hover */
    filter: brightness(var(--hover-brightness));
}
a.link,
a.link:hover,
a.link:focus,
a.link:active  {
    text-transform: uppercase;
    text-decoration: none;
}

a.pdf-download {
    @include heading(5);
    display: inline-flex;
    position: relative;
    align-items: center;
    border-top: 2px solid $lightbrown;
    border-bottom: 2px solid $lightbrown;
    padding: 1rem 0.5rem;
    margin: 2rem auto;
    text-decoration: none;
    font-weight: 700;
    transition: all .3s ease-in-out;
    &:hover {
        filter: brightness(1);
        color: $darkbrown;
        border-color: $darkbrown;
        i {
            color: $darkbrown;
        }
    }
    i {
        color: $lightbrown;
        font-size: 3rem;
        line-height: 1;
        margin-right: 2rem;
        transition: all .3s ease-in-out;
    }
}