@import './variables';
@import './colors';
@import './fonts';


@mixin heading($size) {
    color: $darkbrown;
    font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 700;
    &.reversed {
        color: $white;
    }
    @include mobile {
        font-size: 2rem;
        line-height: 1.2;
    }
    @if $size == 2 {
        font-size: 3rem;
        font-weight: 700;
        @include mobile {
            font-size: 1.5rem;
        }
    } @else if $size == 3 {
        font-size: 1.75rem;
        font-weight: 500;
        @include mobile {
            font-size: 1.25rem;
        }
    } @else if $size == 4 {
        font-size: 1.5rem;
        line-height: 1.2;
        font-weight: 700;
        @include mobile {
            font-size: 1.125rem;
        }
    } @else if $size == 5 {
        font-size: 1.25rem;
        line-height: 1.2;
        font-weight: 400;
        letter-spacing: 1.25px;
        color: $lightbrown;
        text-transform: uppercase;
        @include mobile {
            font-size: 1rem;
            line-height: 1.125rem;
        }
    } @else if $size == 6 {
        font-size: 1.125rem;
        line-height: 1.5;
        font-weight: 700;
        &.light {
            font-weight: 300;
        }
        @include mobile {
            font-size: 1rem;
        }
    }
}

@mixin gradient($direction, $list) { 
    background: -webkit-linear-gradient($direction, $list);
    background: -moz-linear-gradient($direction, $list);
    background: -o-linear-gradient($direction, $list);
    background: linear-gradient($direction, $list);  
}

@mixin arrow-Right($color) {
    width: 22px;
    height: 13px;
    background-size: 22px 13px;
    margin-left: 10px;
    transition: .25s cubic-bezier(0.215, 0.610, 0.355, 1);
    position: relative;
    display: inline-block;
    background-repeat: no-repeat;
    @if $color == orange {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiNDMjU3MDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    } @else if $color == blue {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiMzMDU4OEYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    } @else if $color == lightblue {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiM3NTkzQkMiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    } @else if $color == darkgrey {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiMyODJhMzIiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    } @else if $color == maroon {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiNDMDcwNzgiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    } @else {
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjkiIGhlaWdodD0iMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS44MDQgOS4zMjRoMjUuMjZsLTUuNDcgNS42MDRhLjgxLjgxIDAgMCAwIDAgMS4xNTRjLjE2MS4xNjUuNDAzLjI0OC41NjQuMjQ4LjE2IDAgLjQwMi0uMDgzLjU2My0uMjQ4bDYuODM4LTcuMDA1YS44MS44MSAwIDAgMCAwLTEuMTU0TDIxLjcyLjkxOGEuNzY1Ljc2NSAwIDAgMC0xLjEyNyAwIC44MS44MSAwIDAgMCAwIDEuMTU0bDUuNDcgNS42MDRILjgwNWMtLjQ4MiAwLS44MDQuMzMtLjgwNC44MjQgMCAuNDk0LjMyMi44MjQuODA0LjgyNHoiIGZpbGw9IiNGRkZGRkYiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvc3ZnPg==);
    }
}

@mixin placeholder-text($color) {
	&::-webkit-input-placeholder {
		color: $color;
	}
	&::-moz-placeholder {
		color: $color;
	}
	&:-ms-input-placeholder {
		color: $color;
	}
	&:-moz-placeholder {
		color: $color;
	}
}

//
//  MEDIA QUERIES
//––––––––––––––––––––––––––––––––––––––––––––––––––

// A map of breakpoints.
$breakpoints: (
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px
);


//
//  RESPOND ABOVE
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-above(sm) {}
@mixin respond-above($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (min-width: $breakpoint-value) {
      @content;
    }
  
  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


//
//  RESPOND BELOW
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-below(sm) {}
@mixin respond-below($breakpoint) {

  // If the breakpoint exists in the map.
  @if map-has-key($breakpoints, $breakpoint) {

    // Get the breakpoint value.
    $breakpoint-value: map-get($breakpoints, $breakpoint);

    // Write the media query.
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  
  // If the breakpoint doesn't exist in the map.
  } @else {

    // Log a warning.
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}


//
//  RESPOND BETWEEN
//––––––––––––––––––––––––––––––––––––––––––––––––––

// @include respond-between(sm, md) {}
@mixin respond-between($lower, $upper) {

  // If both the lower and upper breakpoints exist in the map.
  @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

    // Get the lower and upper breakpoints.
    $lower-breakpoint: map-get($breakpoints, $lower);
    $upper-breakpoint: map-get($breakpoints, $upper);

    // Write the media query.
    @media (min-width: $lower-breakpoint) and (max-width: ($upper-breakpoint - 1)) {
      @content;
    }
  
  // If one or both of the breakpoints don't exist.
  } @else {

    // If lower breakpoint is invalid.
    @if (map-has-key($breakpoints, $lower) == false) {

      // Log a warning.
      @warn 'Your lower breakpoint was invalid: #{$lower}.';
    }

    // If upper breakpoint is invalid.
    @if (map-has-key($breakpoints, $upper) == false) {

      // Log a warning.
      @warn 'Your upper breakpoint was invalid: #{$upper}.';
    }
  }
}

//
//  DESKTOP FIRST - DNU
//––––––––––––––––––––––––––––––––––––––––––––––––––
$mobile-width-small: 375px;
$mobile-width: 768px;
$tablet-width: 992px;
$desktop-large-width: 1400px;

@mixin mobile-small {
	@media (max-width: #{$mobile-width-small}) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin mobile-landscape {
	@media (max-width: #{$mobile-width}) and (orientation: landscape) {
		@content;
	}
}

@mixin mobile-portrait {
	@media (max-width: #{$mobile-width}) and (orientation: portrait) {
		@content;
	}
}

@mixin tablet {
	@media (max-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (max-width: #{$tablet-width}) and (orientation: landscape) {
		@content;
	}
}

@mixin tablet-portrait {
	@media (max-width: #{$tablet-width}) and (orientation: portrait) {
		@content;
	}
}

@mixin desktop {
	@media (max-width: #{$desktop-large-width}) {
		@content;
	}
}


@mixin desktop-landscape {
	@media (max-width: #{$desktop-large-width}) and (orientation: landscape) {
		@content;
	}
}

@mixin desktop-portrait {
	@media (max-width: #{$desktop-large-width}) and (orientation: portrait) {
		@content;
	}
}
