/* 
 * Mobile Navigation Hamburger Icon 
 */
#menu-toggle {
    display: none;
    position: relative;
    width: 30px;
    height: 22px;
    flex-direction: column;
    cursor: pointer !important;
    @include tablet {
        display: inline-flex;
    }
    &.open {
        span:nth-child(1) {
            transform: rotate(45deg) translateY(11px);
            margin-bottom: 3px;
        }
        span:nth-child(2) {
            opacity: 0;
            width: 0;
        }
        span:nth-child(3) {
            transform: rotate(-45deg) translateY(-11px);
            width: 100%;
        }
    }
    span:nth-child(1) {
        position: relative;
        background-color: $black;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        margin-bottom: 5px;
        transition: .25s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    span:nth-child(2) {
        position: relative;
        background-color: $black;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        margin-bottom: 5px;
        transition: .25s cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-delay: .05s;
    }
    span:nth-child(3) {
        position: relative;
        background-color: $black;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        transition: .3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
}

/* 
 * Menu Links
 */
.menu {
    display: flex;
    width: 100%;
    @include tablet {
        flex-direction: column;
    }
    ul {
        display: inline-flex;
        justify-content: space-between;
        list-style-type: none;
        margin: 0;
        padding: 1rem 0;
        width: 100%;
        @include tablet {
            flex-direction: column;
        }
        li {
            width: 100%;
            padding-right: 1rem;
            @include tablet {
                padding-right: 0;
                padding-bottom: 1rem;
            }
            a {
                color: $white;
                font-weight: 700;
                letter-spacing: 1.2px;;
                text-transform: uppercase;
                text-decoration: none;
                &:hover {
                    color: $blue-25;
                }
            }
            .children {
                padding: 0;
                li {
                    @include tablet {
                        padding: 0;
                    }
                    a {
                        text-transform: none;
                        font-weight: 300;
    
                    }
                }
            }
        }
    }
}

/* 
 * Fixed Side Bar for Social
 */
.social-icon-bar {
    opacity: 0;
    position: fixed;
    background-color: $white;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    padding: 0.25rem;
    overflow: hidden;
    text-align: center;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: inherit;
        li {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            transition: transform .1s linear;
            a {
                svg {
                    width: 3rem !important;
                    height: 3rem !important;
                    padding: 0 0.25rem;
                    color: $darkgreen !important;
                }
            }
        }
    }
}