/* Fonts */
$font-heading: "Futura";
$font-copy: "Avenir";

h1, h2, h3, h4, h5, h6 {
    color: $darkgreen;
    font-family: $font-heading, $font-copy, Roboto, Oxygen, Ubuntu, Arial, sans-serif;
    &.reversed {
        color: $white;
    }
}

h1 {
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 700;
    @include respond-below(md){
        font-size: 2.25rem;
    }
}

h2 {
    font-size: 2rem;
    font-weight: 700;
    @include respond-below(md){
        font-size: 1.5rem;
    }
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
    @include respond-below(md){
        font-size: 1.25rem;
    }
}

h4 {
    font-size: 1.25rem;
    line-height: 1.2;
    font-weight: 700;
    @include respond-below(md){
        font-size: 1.125rem;
    }
}

h5 {
    font-size: 1.125rem;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 1.25px;
    color: $darkbrown;
    text-transform: uppercase;
    @include respond-below(md){
        font-size: 1rem;
    }
}

h6 {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 700;
    &.light {
        font-weight: 300;
    }
}

p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin: 1rem 0;
    @include respond-below(md){
        font-size: 1rem;
    }
    &.large {
        font-size: 1.25rem;
        margin: 1.25rem 0;
        @include respond-below(md){
            font-size: 1.125rem;
        }
    }
    &.reversed {
        color: $white;
    }
}

span {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

b, strong {
    color: inherit;
    font-weight: 900;
    font-family: inherit;
    font-size: inherit;
}