// Utility Variables
@import "../atoms/colors";

// Default Card Style
article.post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 30%;
    margin: 1%;
    flex-basis: 30%;
}

.blog-subfooter {
    position: relative;
    width: 100%;
    .widget-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}


/* PAGINATION */
.pagination {
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    margin: 3rem 0;
    @include mobile {
        margin: 2rem 0;
    }
    .prev {
        margin-right: 1rem;
    }
    .next {
        margin-left: 1rem;
    }
    .current {
        font-size: 1.125rem;
    }
}