// Utility Variables
@import "../atoms/variables";
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.donate {
    .banner {
        margin-bottom: 0;
    }
    .calloutbar.image {
        .content-wrapper {
            padding-bottom: 10rem;
        }
    }
    .amazon-smile {
        .wp-block-media-text__content {
            padding: 0;
        }
    }
    .form-wrapper {
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        padding: 1rem 0;
        margin: 0 auto;
        form {
            &.donate,
            &.membership {
                display: flex;
                justify-content: center;
                align-items: center;
                align-content: flex-start;
                padding: 0;
                @include respond-below(sm){
                    flex-direction: column;
                    justify-content: flex-start;
                }
                table select {
                    height: 4rem;
                    padding: 0.25rem;
                }
                .submit {
                    height: 4rem;
                    margin: 1.5rem 2rem 0;
                    // align-self: stretch;
                    @include respond-below(sm){
                        margin-top: 2rem;
                    }
                }
            }
            &.donate {
                .submit {
                    margin: 0;
                }
            }
        }
    }
}