// Utility Variables
@import "../atoms/colors";

.home {
    .banner {
        &.standard {
            padding: 4rem 0;
            @include mobile {
                padding: 3rem 0;
            }
            // &.blue .banner-overlay {
            //     background: transparent;
            // }
            .content-wrapper {
                padding: 0;
                margin: 0 auto;
                // background: linear-gradient(to bottom, #158990, rgba(21, 137, 144, 0.2)),linear-gradient(to right, #46BFCA, rgba(70, 191, 202, 0.1));
                // padding: 4rem;
                // border-radius: 0.25rem;
                * {
                    color: $white;
                }
            }
        }
        &.hero {
            height: unset;
            padding: 0;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            background: linear-gradient(160deg,  $teal, rgba(0,148,158, .9), rgba(0,148,158, .3), rgba(129,196,84,.1));
            height: 100vh;
            margin-bottom: 0;
            z-index: auto;
            @include mobile {
                height: 100vh;
                justify-content: center;
                // padding: 0 0 4rem;
            }
            .banner-image {
                @include tablet {
                    position: absolute;
                    margin: 0 auto;
                    height: auto;
                    width: 100%
                }
            }
            .cta {
                display: flex;
                justify-content: center;
            }
            .wordmark {
                margin-top: 4rem;
            }
        }
        .intro {
            margin-top: 4rem;
            p {
                color: $darkgray;
            }
        }
    }
    .scroll-down {
        position: absolute;
        bottom: 0.5rem;
        opacity: .75;
        transition: .3s ease-in-out;
        &:hover {
            opacity: 1;
        }
        img {
            height: 2.5rem;
            width: auto;
        }
       @include tablet {
            display: none;
       }
    }
    // .calloutbar.image:after {
    //     background: linear-gradient(180deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, 0.8), $white);
    // }
}