// Utility Variables
@import "../atoms/variables";
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.programs {
    .banner {
        margin-bottom: 0;
    }
    .nav-tabs {
        margin-top: -92px;
        .nav-link {
            color: $white;
            &.active {
                color: $darkgreen;
            }
        }
    }
    .tab-content {
        padding: 3rem 0;
    }
}