// Utility Variables
@import "../atoms/variables";
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

/* Blog Listing Cards */
$main-green: $lime !default;
$main-green-rgb-015: rgba(128, 195, 79, 0.1) !default;
$main-blue: $teal !default;
$main-blue-rgb-015: rgba(70, 191, 202, 0.1) !default;

/* Postcard Card */
.postcard {
    display: flex;
    flex-wrap: wrap;

    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: $white;

    &.dark {
        background-color: $darkgreen;
    }
    &.light {
        background-color: $white;
    }

    .t-dark {
        color: $darkgreen;
    }

    a {
        color: $teal;
        &:hover {
            color: $darkgreen;
            border-color: $darkgreen;
        }
    }

    h2,
    .h2 {
        color: $darkgreen;
        margin-bottom: 0.5rem;
        font-weight: 500;
        line-height: 1.2;
        a {
            font-size: 2rem;
            border: none !important;
        }
    }
    .small {
        font-size: 80%;
    }
    .postcard__title {
        font-size: 1.75rem;
    }
    .postcard__img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    .postcard__img_link {
        display: contents;
    }
    .postcard__bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: $darkgreen;
        transition: width 0.2s ease;
    }
    .postcard__text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .postcard__preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }
    .postcard__tagbox {
        display: flex;
        flex-flow: row wrap;
        font-size: 14px;
        margin: 20px 0 0 0;
        padding: 0;
        justify-content: center;
        .tag__item {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            transition: background-color 0.3s;

            &:hover {
                background: rgba(83, 83, 83, 0.8);
            }
        }
    }
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70deg, $darkgreen, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }
    &:hover .postcard__bar {
        width: 100px;
    }
    &:nth-child(odd) {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(-80deg, $green-50, $green-25, transparent 60%);
            opacity: 1;
            border-radius: 10px;
        }
    }
    &:nth-child(even) {
        &:before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: linear-gradient(80deg, $teal-50, $teal-25, transparent 60%) !important;
            opacity: 1;
            border-radius: 10px;
        }
    }
    
}


@include respond-above(sm){
    .postcard {
        flex-wrap: inherit;

        .postcard__title {
            font-size: 2rem;
        }

        .postcard__tagbox {
            justify-content: start;
        }

        .postcard__img {
            max-width: 300px;
            max-height: 100%;
            transition: transform 0.3s ease;
        }

        .postcard__text {
            padding: 3rem 3rem 3rem 3.25rem;
            width: 100%;
        }

        .media.postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            background: $darkgreen;
            top: -20%;
            height: 130%;
            width: 55px;
        }

        &:hover .postcard__img {
            transform: scale(1.1);
        }

        &:nth-child(2n + 1) {
            flex-direction: row;
        }

        &:nth-child(2n + 0) {
            flex-direction: row-reverse;
        }

        &:nth-child(2n + 1) .postcard__text::before {
            left: -12px !important;
            transform: rotate(4deg);
        }

        &:nth-child(2n + 0) .postcard__text::before {
            right: -12px !important;
            transform: rotate(-4deg);
        }
    }
}
@include respond-above(lg) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

    .postcard__text:before {
        content: "";
        position: absolute;
        display: block;

        top: -20%;
        height: 130%;
        width: 55px;
    }

    .postcard.dark {
        .postcard__text:before {
            background: $darkgreen;
        }
    }
    .postcard.light {
        .postcard__text:before {
            background: $white;
        }
    }
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: $main-green;
    color: $darkgreen;
}
.green .postcard__title:hover {
    color: $main-green;
}
.green .postcard__bar {
    background-color: $main-green;
}
.green::before {
    background-image: linear-gradient(-30deg, $blue-25, transparent 50%);
}
.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $green-25, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: $main-blue;
}
.blue .postcard__title:hover {
    color: $main-blue;
}
.blue .postcard__bar {
    background-color: $main-blue;
}
.blue::before {
    background-image: linear-gradient(-30deg, $blue-25, transparent 50%);
}
.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, $blue-25, transparent 50%);
}

@include respond-above(sm) {
    .green::before {
        background-image: linear-gradient(-80deg, $green-25, transparent 50%);
    }
    .green:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $green-25, transparent 50%);
    }

    .blue::before {
        background-image: linear-gradient(-80deg, $blue-25, transparent 50%);
    }
    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, $blue-25, transparent 50%);
    }
}

/* Background Image | Used on Homepage */
.card {
    &.bg-image {
        position: relative;
        min-height: 32rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        border: 0;
        color: $darkgreen;
        @include respond-below(md) {
            margin-bottom: 6rem;
        }
        .card-img-top,
        .card-body,
        .card-footer {
            z-index: 1;
            border: 0;
            background: transparent;
        }
        .card-img-top {
            text-align: center;
            border-radius: 50%;
            background-color: $teal;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -250%);
            height: 8rem;
            width: 8rem;
            box-shadow: 3px 3px 10px $teal;
            padding: 0.25rem;
        }
        .card-body {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 2rem 3rem;
            overflow: hidden;
            border-radius: 0.25rem 0.25rem 0 0;
            z-index: 0;
            &::after,
            &::before {
                content: "";
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
            }
            &::before {
                top: 0;
                background: linear-gradient(to top, $blue-25 25%, transparent 100%);
            }
            &::after {
                bottom: 0;
                background: linear-gradient(to bottom, $blue-50 0%, transparent 100%);
            }
            .card-content {
                z-index: 1;
            }
        }
        .card-footer {
            padding: 1rem 2rem 2rem;
            text-align: center;
            background-color: $blue-25;
            .link {
                border: 0 !important;
                color: $white !important;
                &:after {
                    content: '';
                    position: absolute;
                    top: calc(50% + 1.15rem);
                    left: 0;
                    width: 100%;
                    border-top-style: solid;
                    transform: scaleX(0);
                    transition: transform .2s ease-in-out;
                }
                &:hover:after {
                    transform: scaleX(1);
                }
            }
        }
        &.lime {
            .card-img-top {
                background-color: $lime;
                box-shadow: 3px 3px 10px $lime-50;
            }
            .card-body {
                &::before {
                    top: 0;
                    background: linear-gradient(to top, $lime-50 25%, transparent 100%);
                }
                &::after {
                    bottom: 0;
                    background: linear-gradient(to bottom, $lime 0%, transparent 100%);
                }
            }
            .card-footer {
                background-color: $lime-50;
            }
        }
        &.brown {
            .card-img-top {
                background-color: $darkbrown;
                box-shadow: 3px 3px 10px $lightbrown;
            }
            .card-body {
                &::before {
                    top: 0;
                    background: linear-gradient(to top, $darkbrown-25 25%, transparent 100%);
                }
                &::after {
                    bottom: 0;
                    background: linear-gradient(to bottom, $darkbrown-50 0%, transparent 100%);
                }
            }
            .card-footer {
                background-color: $darkbrown-25;
            }
        }
        &.green {
            * {
                color: $white;
            }
            .card-img-top {
                background-color: $green;
                box-shadow: 3px 3px 10px $green;
            }
            .card-body {
                &::before {
                    top: 0;
                    background: linear-gradient(to top, $green 25%, transparent 100%);
                }
                &::after {
                    bottom: 0;
                    background: linear-gradient(to bottom, $lime 0%, transparent 100%);
                }
            }
            .card-footer {
                background-color: $green;
            }
        }
        &.teal {
            * {
                color: $white;
            }
            .card-img-top {
                background-color: $teal;
                box-shadow: 3px 3px 10px $teal;
            }
            .card-body {
                &::before {
                    top: 0;
                    background: linear-gradient(to top, $teal 25%, transparent 100%);
                }
                &::after {
                    bottom: 0;
                    background: linear-gradient(to bottom, $blue 0%, transparent 100%);
                }
            }
            .card-footer {
                background-color: $teal;
            }
        }
        &.darkgreen {
            * {
                color: $white;
            }
            .card-img-top {
                background-color: $darkgreen;
                box-shadow: 3px 3px 10px $darkgreen;
            }
            .card-body {
                &::before {
                    top: 0;
                    background: linear-gradient(to top, $darkgreen 25%, transparent 100%);
                }
                &::after {
                    bottom: 0;
                    background: linear-gradient(to bottom, $green 0%, transparent 100%);
                }
            }
            .card-footer {
                background-color: $darkgreen;
            }
        }
    }
}
