// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

.wp-block-image img,
.wp-block-media-text img {
    width: 100%;
    height: auto;
    border-radius: 0.5rem !important;
    margin-bottom: 1.5rem;
}
.wp-block-column:not(:first-child) {
    @include respond-above(md) {
        margin-left: 3rem;
    }
}
.wp-block-quote {
    background-image: url(../../src/img/icon-quote-blue.svg);
    background-position: 0% -40px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 2rem 0;
    padding: 2rem 0 0;
    width: 100%;
    text-align: right;
    @include mobile {
        background-position: top left !important;
        padding: 2.5rem 0 0 !important;
        text-align: center !important;
        background-size: auto !important;
    }
    p {
        font-size: 2rem;
        text-align: left;
        padding-left: 5rem;
        @include mobile {
            font-size: 1.25rem;
            line-height: 1.5;
            padding: 0 !important;
        }
    }
    cite {
        font-size: 1.5rem;
        background-image: linear-gradient(120deg, $blue 0%, $blue-50 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.5rem;
        background-position: 0 88%;
        &::after {
            border-bottom: $gradient-blue-transparent;
        }
    }
    &.right {
        text-align: left;
        background-position: 100% -40px;
        p {
            padding: 0 3rem 0 0;
        }
    }
    &.center {
        background-position: 50% -40px;
        padding-top: 5rem;
        text-align: center;
        p {
            padding: 0 3rem;
        }
    }
}

/* STACKABLE */
.stk-block-button {
    a.stk-button {
        font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
        display: inline-block;
        outline: none;
        cursor: pointer;

        transition-property: background-color, border-color, color, box-shadow, filter;
        transition-duration: 0.2s;
        border: 0;
        min-width: 10rem;
        text-transform: uppercase;
        white-space: normal;
        text-align: center;
        padding: 1rem 0.875rem 1.125rem !important;
        color: $white;
        background-color: $gray;
        text-decoration: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
            box-shadow 0.15s ease-in-out;
        &:hover {
            filter: brightness(1.1);
        }
        &.stk-button__inner-text {
            color: $white;
            font-size: 1.125rem;
            line-height: 1;
            font-weight: 700;
            letter-spacing: 1.2px;
            vertical-align: middle;
        }
    }
    &.teal {
        a.stk-button {
            background-color: $teal;
        }
    }
}

.wp-block-cover, .wp-block-cover-image{
    border-radius: .25rem;
    overflow: hidden;
}
.wp-block-cover__inner-container{

    p {
        @include heading(2);
        color: $darkgreen;
        font-weight: 700;
    }
}
.wp-block-cover-image.has-background-dim:not([class*=-background-color]), .wp-block-cover-image .has-background-dim:not([class*=-background-color]), .wp-block-cover.has-background-dim:not([class*=-background-color]), .wp-block-cover .has-background-dim:not([class*=-background-color]) {
    background-color: $green-50;
}
.wp-block-cover-image.has-background-dim:not(.has-background-gradient):before, .wp-block-cover-image .has-background-dim:not(.has-background-gradient):before, .wp-block-cover-image .wp-block-cover__gradient-background, .wp-block-cover.has-background-dim:not(.has-background-gradient):before, .wp-block-cover .has-background-dim:not(.has-background-gradient):before, .wp-block-cover .wp-block-cover__gradient-background {
    opacity: 0.8;
}