// Utility Variables
@import "../atoms/colors";
@import "../atoms/fonts";
@import "../atoms/mixins";

/* BUTTON */
.wp-block-button {
    &.green a.wp-block-button__link {
        background-color: $green;
    }
    &.blue a.wp-block-button__link {
        background-color: $blue;
    }
    &.darkbrown a.wp-block-button__link {
        background-color: $darkbrown;
    }
    &.lightbrown a.wp-block-button__link {
        background-color: $lightbrown;
    }
    &.reversed a.wp-block-button__link {
        color: $teal;
        background-color: $white;
        &:hover {
            color: $green;
        }
    }
    .wp-block-button__link {
        font-family: $font-heading, $font-copy, Helvetica, Arial, sans-serif;
        display: inline-block;
        outline: none;
        cursor: pointer;
        font-size: 1.125rem;
        line-height: 1;
        transition-property: background-color,border-color,color,box-shadow,filter;
        transition-duration: .2s;
        border: 0;
        letter-spacing: 1.2px;
        min-width: 10rem;
        text-transform: uppercase;
        white-space: normal;
        font-weight: 700;
        text-align: center;
        padding: 1rem 0.875rem 1.125rem;
        color: $white;
        background-color: $teal;
        border-radius: 0.25rem;
        // height: 3rem;
        &:hover {
            background-color: $green;
            filter: brightness(0.9);
        }
        &:active {
            color: $white;
            background-color: $blue;
            border-color: $blue;
            box-shadow: inherit;
        }
        &:focus {
            color: $white;
            background-color: $blue;
            border-color: $blue;
            box-shadow: inherit;
        }
        &:visited {
            color: $white;
            background-color: $blue;
            border-color: $blue;
            box-shadow: inherit;
        }
    }
}

/* IMAGE */
.wp-block-image {
    img {
        width: 100%;
        height: auto;
        border-radius: 0.25rem !important;
        margin-bottom: 1.5rem;
        // border: 0.0625rem solid $darkgreen;
    }
}


/* MEDIA & TEXT */
.wp-block-media-text {
    img {
        width: 100%;
        height: auto;
        border-radius: 0.25rem !important;
        margin-bottom: 1.5rem;
    }
}


/* QUOTE */
.wp-block-quote {
    background-image: url(../../src/img/icon-quote-blue.svg);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: auto;
    margin: 2rem 0;
    padding: 2rem 0 0;
    width: 100%;
    text-align: right;
    @include mobile {
        background-position: top left !important;
        padding: 2.5rem 0 0 !important;
        text-align: center !important;
        background-size: auto !important;
    }
    p {
        font-size: 1.5rem;
        text-align: left;
        padding-left: 5rem;
        @include mobile {
            font-size: 1.25rem;
            // line-height: 1.5;
            padding: 0 !important;
        }
    }
    cite {
        font-size: 1.5rem;
        background-image: linear-gradient(120deg, $blue 0%, $blue-50 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.5rem;
        background-position: 0 88%;
        &::after {
            border-bottom: $gradient-blue-transparent;
        }
    }
    &.right {
        text-align: left;
        background-position: top right;
        p {
            padding: 0 3rem 0 0;
        }
    }
    &.center {
        background-position: top center;
        padding-top: 5rem;
        text-align: center;
        p {
            padding: 0 2.5rem;
        }
    }
}


/* BLOCK COVER*/
.wp-block-cover, 
.wp-block-cover-image {
    border-radius: 0.25rem;
    overflow: hidden;
    &__inner-container{

        p {
            @include heading(2);
            color: $darkgreen;
            font-weight: 700;
        }
    }
    &.has-background-dim {
        background-color: $green-50 !important;
        opacity: 0.8 !important;
    }
}


/* PULLQUOTE */
.wp-block-pullquote {
    padding: 0;
    p {
        font-size: 1.5rem;
        line-height: 1.5;
    }
}


/* SEARCH */
form.wp-block-search {}