/* BRAND COLORS */
// primary
$blue: #46bfca; // old color is #69bdc8
$green: #3c8c66; // old color is #54886a

$lime: #80c34f;
$lime-rgb: rgba(128, 195, 79, 1);

$teal: #158990;
$teal-rgb: rgba(21, 137, 144, 1);

// secondary
$darkbrown: #775547;
$lightbrown: #c88469;

// utility
$white: #FFFFFF;
$gray: #EFEFEF;

/* FONTS */
$font-header: 'BebasNeueBold', Helvetica, Arial, sans-serif;
$font-copy: 'Avenir', Helvetica, Arial, sans-serif;
